<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BFMemes Generator</title>
    <link rel="icon" href="<%= require('./assets/images/logo.jpg?size=256').src %>" />

    <!-- Mobile stuff -->
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Home screen icon (for iOS and Android) -->
    <link rel="apple-touch-icon" href="<%= require('./assets/images/logo.jpg?size=256').src %>">

    <!-- Facebook OpenGraph -->
    <meta property="og:url"                content="<%= __MAIN_PATH %>" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="BFMemes Generator" />
    <meta property="og:description"        content="Générez facilement et rapidement votre propre BFMème!" />
    <meta property="og:image"              content="<%= require('./assets/images/logo.jpg').src %>" />

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" referrerpolicy="no-referrer">
</head>
<body>
<div id="app">
    <noscript>
        <p>We're sorry, this website cannot work without Javascript. Please <a href="https://enable-javascript.com">enable it</a> and reload the page.</p>
        <p>Désolé, nous avons besoin que vous activiez Javascript pour que ce site fonctionne correctement. Essayez de recharger la page <a href="https://enable-javascript.com">après l'avoir activé</a>.</p>
    </noscript>
</div>
</body>
</html>
