<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>BFMemes Generator</title>
    <link rel="icon" href="<%= require('./logo.jpg?size=256').src %>" />

    <!-- Mobile stuff -->
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Home screen icon (for iOS and Android) -->
    <link rel="apple-touch-icon" href="<%= require('./logo.jpg?size=256').src %>">

    <!-- Facebook OpenGraph -->
    <meta property="og:url"                content="<%= __webpack_public_path__ %>" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="BFMemes Generator" />
    <meta property="og:description"        content="Générez facilement et rapidement votre propre BFMème!" />
    <meta property="og:image"              content="<%= require('./logo.jpg').src %>" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="app">
    <noscript>
        <p>We're sorry, this website cannot work without Javascript. Please <a href="https://enable-javascript.com">enable it</a> and reload the page.</p>
        <p>Désolé, nous avons besoin que vous activiez Javascript pour fonctionner. Essayez de recharger la page <a href="https://enable-javascript.com">après l'avoir activé</a>.</p>
    </noscript>
</div>
</body>
</html>
