body{
    overflow-x: hidden;
}
#mainContainer{
    min-height: calc(100vh - 170px);
    margin:25px auto;
    padding: 0 25px;
    max-width: 1970px; /* 1280 * 3/2 : make sure the canvas' scale is at most 1 (+padding(25px)*2)*/
}
#canvasWrapper{
    padding:0;
    overflow: hidden;
    /* Actually, nothing is hidden since the canvas is scaled,
       but the browser takes the initial size of the item for size computations (hence the interest of a
       wrapper to avoid the scrolling and other weird graphical glitches) */
}
input{
    overflow: hidden;
}
canvas{
    transform-origin: top left;
}
.material-icons{
    vertical-align: middle;
}
footer{
    filter:invert(1);
    background: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Comic Sans MS', 'sans-serif';
    height: 120px;
}
footer img {
    height: 100px;
    margin-right:20px;
    border: 0;
}
footer a{
    text-decoration: none;
    font-size:0;
}