// Colors
$primary: #5959cd;
$darkerPrimary: darken($primary, 15);
$lightPrimary: lighten($primary, 15);
$secondary: #f3821d;
$darkerSecondary: darken($secondary, 5);
$white: #fff;
$text: #ddd;
$background: #222;
$red: #b33c3c;
$darkRed: darken($red, 10);
$lightRed: #ea4d4d;

// Design breakpoints
$lineToColLayout:619px;